<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalice.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablets.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />
  </head>
  <body class="bg-gris-claro">
    <header class="bg-amarillo p-8">
      <div class="fx fx-wrap fx-align-center">
        <h1 class="w-50 tablet-w-33">
          <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <form class="w-50 fx p-8 tablet-w-33">
          <div class="fx fx-wrap w-100 mb-0">
            <div class="search-input">
              <input
                class="style-input w-80"
                type="text"
                name="search"
                placeholder="Buscar productos, marcas y más..."
              />
              <button class="search-button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <p class="text-center w-100 tablet-w-33">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <nav class="nav-section w-100 mt-8 fx fx-space-b">
        <ul class="nav-style mb-8 fx">
          <li class="mr-8 ml-8"><a href="#">Ofertas</a></li>
          <li class="mr-8 ml-8"><a href="#">Tiendas oficiales</a></li>
          <li class="mr-8 ml-8"><a href="#">Vender</a></li>
          <li class="mr-8 ml-8"><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-style mb-8 fx">
          <li class="mr-8 ml-8">
            <a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i>
          </li>
          <li class="mr-8 ml-8">
            <a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i>
          </li>
          <li class="mr-8 ml-8">
            <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </nav>
      <nav class="burger-menu font-heading mt-8">
        <i class="fas fa-bars"></i>
      </nav>
    </header>
        <main class="p-8 w-90 m-center tablet-w-80">
            <h1 class="text-center style-heading-form bg-celeste m-30">Ingresa a tu cuenta</h1>
            <form action='/' method="GET">
                <div class="text-center m-30">
                    <label class="label-display" for="user-name"></label>
                    <input class="style-input" type="text" name="user-name" id="user-name" placeholder="Nombre de usuario" required>
                </div>
                <div class="text-center m-30">
                    <label class="label-display" for="password"></label>
                    <input class="style-input" type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
                </div>
                <div class="text-center m-30">
                    <button type="submit" class="sign-in style-button bg-celeste w-100 mtb-10 color">Ingresar</button>
                </div>
                <div class="text-center m-30">
                 <a href="#">¿Olvidaste tu contraseña?</a> 
                </div>
              </div>
            </form>
        </main>
        <footer class="bg-blanco">
          <section>
            <i class="fas fa-credit-card iconos-footer font-celeste"></i>
            <h3 class="font-medium font-gris-oscuro m-8">
              Pagá con tarjeta o en efectivo
            </h3>
            <p class="mb-10">
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </section>
          <section>
            <i class="fas fa-gift iconos-footer font-celeste"></i>
            <h3 class="font-medium font-gris-oscuro m-8">
              Envío gratis desde $ 2.500
            </h3>
            <p class="mb-10">
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </section>
          <section>
            <i class="fas fa-user-shield iconos-footer font-celeste"></i>
            <h3 class="font-medium font-gris-oscuro m-8">
              Seguridad, de principio a fin
            </h3>
            <p class="mb-10">
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
              hacer, porque estás siempre protegid@.
            </p>
          </section>
          <section><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></section>
        </footer>
  </body>      
</html>